:root {
    --bs-link-color:  $font_color;
    color: $font_color;
    overflow-x: hidden;
    --bs-body-font-size: .8em;
    --bs-btn-font-size: .8em;
    --bs-font-sans-serif: $font_text;
}

body, html{
    overflow-x: hidden;
}

.btn {
    --bs-btn-font-size: .8em;
}

body {
    font-family: $font_text;
    h1, h2, h3, h4, h5 {
        font-family: $font_title;
        font-weight: 500;
    }
    h2 {
        span {
            font-style: italic;
            font-family: $font_text; 
        }
    }
    a{
        text-decoration: none;
    }
    h6 {
        &.nav_elm {
            color: $bgc_elm;
            font-size: .8em;
        }
    }
   
    button, a {
        border: none;
        font-size: .8em;
        &.btn {
            border: 1px solid;
            padding: 10px 5px;
            border-radius: 30px;
        }
    }
    section {
        .text {
            padding: 0 2%;
        }
    }
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
.row {
    --bs-gutter-x: 0;
}

.carousel-indicators {
    display: none;
}

@media (orientation: landscape) {
    body {
        button, a {
            &.btn {
                padding: 7px 3px;
            }
        }
    }
}

@media (min-width: 1024px) {
    body {
        h2 {
            font-size: 3rem;
        }
        button, a {
            &.btn {
                transition: .3s;
                padding: 15px 10px;
            }
        }
         section {
            .text {
                padding: 0 15% 5%;
            }
        }
    }
}

@media (min-width: 1920px) {
    p {
        font-size: 1.2em;
    }
}