@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

$font_color: #111;
$font_text: 'Inter', sans-serif;
$font_title: 'Montserrat', sans-serif;

$bgc_elm: #1B5B31;

$custom-colors: (
    "link-color": #111,
);

$theme-colors: map-merge($theme-colors, $custom-colors);